/* Стили для видеоплеера */
video {
  width: 100%;
}

#video-player {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#camera-list {
//  flex: 1;
  padding: 10px;
}

#video-container {
  flex: 1;
  padding: 10px;
}


/* Style for folder tree */
#folderTree {
    list-style: none;
    padding-left: 0;
}

.folder {
    cursor: pointer;
}

.collapsed {
    display: none;
}


#folderTree {
    max-height: 90vh; /* Adjust the height as needed */
    overflow-y: auto;
}

/* Стили для активного элемента списка файлов */
#folderTree li ul li.active {
  background-color: #007bff; /* Цвет фона активного файла */
  cursor: pointer;
}
#folderTree li ul li {
  cursor: pointer;
  list-style-type: none;
}

#folderTree li ul li:hover {
  background-color: #007bff;  /* голубой цвет при наведении */
}


/* Стили для кнопок */
button {
  background-color: #202124; // #a9a9a9; /* #4caf50; /* цвет кнопок - цвет фона */
  color: white;
  border: none;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 2px;
  cursor: pointer;
  border-radius: 3px;
}

button:hover {
  background-color: #007bff;  /* голубой цвет при наведении */
}
